$pipe-button-border-radius: $pipe-border-radius !default;

%pipe-button-default {
	@include pipe-resetButton;
	border-radius: $pipe-button-border-radius;
	font-family: inherit;
	padding: 0.6rem;

	> i {
		vertical-align: middle;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}
}

@mixin pipe-button-style(
	$background-color,
	$background-color-hover,
	$background-color-active,
	$text-color
) {
	background-color: $background-color;
	color: $text-color;

	&:hover:not(:disabled), &:focus:not(:disabled) {
		background-color: $background-color-hover;
		color: $text-color;
		cursor: pointer;
	}

	&:active:not(:disabled) {
		background-color: $background-color-active;
		color: $text-color;
		cursor: pointer;
	}
}

.pp-button {
	@extend %pipe-button-default;
	@include pipe-button-style(
		$pipe-color-lighter-gray,
		$pipe-color-light-gray,
		$pipe-color-gray,
		$pipe-color-black
	);

	&--primary {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-primary,
			$pipe-color-primary-hover,
			$pipe-color-primary-active,
			$pipe-color-primary-text-inverse
		);
	}

	&--secondary {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-secondary,
			$pipe-color-secondary-hover,
			$pipe-color-secondary-active,
			$pipe-color-secondary-text-inverse
		);
	}

	&--info {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-info,
			$pipe-color-info-hover,
			$pipe-color-info-active,
			$pipe-color-info-text-inverse
		);
	}

	&--success {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-success,
			$pipe-color-success-hover,
			$pipe-color-success-active,
			$pipe-color-success-text-inverse
		);
	}

	&--warning {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-warning,
			$pipe-color-warning-hover,
			$pipe-color-warning-active,
			$pipe-color-warning-text-inverse
		);
	}

	&--danger {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-danger,
			$pipe-color-danger-hover,
			$pipe-color-danger-active,
			$pipe-color-danger-text-inverse
		);
	}
}
