$pipe-button-border-radius   : $pipe-border-radius !default;
$pipe-button-padding         : 0.6rem              !default;
$pipe-button-disable-opacity : 0.6                 !default;

%pipe-button-default {
	@include pipe-resetButton;
	border-radius: $pipe-button-border-radius;
	font-family: inherit;
	padding: $pipe-button-padding;

	> i {
		vertical-align: middle;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: $pipe-button-disable-opacity;
	}
}

@mixin pipe-button-style(
	$background-color,
	$background-color-hover,
	$background-color-active,
	$text-color
) {
	&[href], &:not([href]) {
		background-color: $background-color;
		color: $text-color;
	}

	&:hover:not(:disabled), &:focus:not(:disabled) {
		background-color: $background-color-hover;
		color: $text-color;
		cursor: pointer;
	}

	&:active:not(:disabled) {
		background-color: $background-color-active;
		color: $text-color;
		cursor: pointer;
	}
}

.pp-button {
	@extend %pipe-button-default;
	@include pipe-button-style(
		$pipe-color-lighter-gray,
		$pipe-color-light-gray,
		$pipe-color-gray,
		$pipe-color-black
	);

	&--primary {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-primary,
			$pipe-color-primary-hover,
			$pipe-color-primary-active,
			$pipe-color-primary-text-inverse
		);
	}

	&--secondary {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-secondary,
			$pipe-color-secondary-hover,
			$pipe-color-secondary-active,
			$pipe-color-secondary-text-inverse
		);
	}

	&--info {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-info,
			$pipe-color-info-hover,
			$pipe-color-info-active,
			$pipe-color-info-text-inverse
		);
	}

	&--success {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-success,
			$pipe-color-success-hover,
			$pipe-color-success-active,
			$pipe-color-success-text-inverse
		);
	}

	&--warning {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-warning,
			$pipe-color-warning-hover,
			$pipe-color-warning-active,
			$pipe-color-warning-text-inverse
		);
	}

	&--danger {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-danger,
			$pipe-color-danger-hover,
			$pipe-color-danger-active,
			$pipe-color-danger-text-inverse
		);
	}

	&--twitter {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-twitter,
			$pipe-color-twitter-hover,
			$pipe-color-twitter-active,
			$pipe-color-twitter-text-inverse
		);
	}

	&--facebook {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-facebook,
			$pipe-color-facebook-hover,
			$pipe-color-facebook-active,
			$pipe-color-facebook-text-inverse
		);
	}

	&--google {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-google,
			$pipe-color-google-hover,
			$pipe-color-google-active,
			$pipe-color-google-text-inverse
		);
	}

	&--line {
		@extend %pipe-button-default;
		@include pipe-button-style(
			$pipe-color-line,
			$pipe-color-line-hover,
			$pipe-color-line-active,
			$pipe-color-line-text-inverse
		);
	}

}
