$pipe-form-breakpoint-min-mobile      : $pipe-breakpoint-min-mobile !default;
$pipe-form-breakpoint-max-mobile      : $pipe-breakpoint-max-mobile !default;

$pipe-form-control-background-color   : rgba(238, 238, 238, 0.7) !default;
$pipe-form-control-border-radius      : $pipe-border-radius        !default;

$pipe-form-control-margin-top         : 0.75rem                    !default;
$pipe-form-control-margin-right       : 0                          !default;
$pipe-form-control-margin-bottom      : 0.75rem                    !default;
$pipe-form-control-margin-left        : 0                          !default;

$pipe-form-control-padding-top        : 0.5rem                     !default;
$pipe-form-control-padding-right      : 0.5rem                     !default;
$pipe-form-control-padding-bottom     : 0.5rem                     !default;
$pipe-form-control-padding-left       : 0.5rem                     !default;

$pipe-form-control-note-font-size     : 90%                        !default;
$pipe-form-control-note-margin-top    : 0.25rem                    !default;
$pipe-form-control-note-margin-right  : 0                          !default;
$pipe-form-control-note-margin-bottom : 0                          !default;
$pipe-form-control-note-margin-left   : 0.5rem                     !default;

$pipe-form-label-padding-top          : 0.5rem                     !default;
$pipe-form-label-padding-right        : 0                          !default;
$pipe-form-label-padding-bottom       : 1rem                       !default;
$pipe-form-label-padding-left         : 0                          !default;

@mixin pipe-form-control-vertical {
	background-color: $pipe-form-control-background-color;
	border-radius: $pipe-form-control-border-radius;
	margin: $pipe-form-control-margin-top $pipe-form-control-margin-right $pipe-form-control-margin-bottom $pipe-form-control-margin-left;
	padding: $pipe-form-control-padding-top $pipe-form-control-padding-right $pipe-form-control-padding-bottom $pipe-form-control-padding-left;
}

@mixin pipe-form-control-label {
	display: block;
	font-weight: bold;
	padding-top : $pipe-form-label-padding-top;
	padding-right : $pipe-form-label-padding-right;
	padding-bottom : $pipe-form-label-padding-bottom;
	padding-left : $pipe-form-label-padding-left;
}

.pp-form {
	&--vertical {
		.pp-form__control {
			@include pipe-form-control-vertical;

			> label {
				@include pipe-form-control-label;
			}
		}
	}

	&--horizontal {
		.pp-form__control {
			@media #{$pipe-form-breakpoint-min-mobile} {
				display: flex;
				margin-bottom: 1rem;

				> div:first-child {
					flex-basis: 0;
					flex-grow: 1;
					flex-shrink: 0;
					padding: 0.5rem;
					word-break : break-all;

					> label {
						font-weight: bold;
					}
				}

				> div:last-child {
					flex-basis: 0;
					flex-grow: 5;
					flex-shrink: 1;
					@include pipe-form-control-vertical;
				}
			}

			@media #{$pipe-form-breakpoint-max-mobile} {
				@include pipe-form-control-vertical;

				label {
					@include pipe-form-control-label;
				}
			}
		}
	}

	&__control__note {
		display: flex;
		font-size: $pipe-form-control-note-font-size;
		justify-content: space-between;
		margin: $pipe-form-control-note-margin-top $pipe-form-control-note-margin-right $pipe-form-control-note-margin-bottom $pipe-form-control-note-margin-left;

		&__help {
			margin: 0 !important;
		}

		> * {
			font-size: $pipe-form-control-note-font-size;
		}
	}

	&__control__help, // Depricated
	&__control__note__help {
		font-size: $pipe-form-control-note-font-size;
		margin: $pipe-form-control-note-margin-top $pipe-form-control-note-margin-right $pipe-form-control-note-margin-bottom $pipe-form-control-note-margin-left;
	}

	&__control__label {
		cursor: pointer;
	}
}
