$pipe-heading-color                 : inherit !default;
$pipe-heading-bullet-border-left    : 10px    !default;
$pipe-heading-bullet-padding-left   : 10px    !default;
$pipe-heading-border-border-bottom  : 2px     !default;
$pipe-heading-border-padding-bottom : 5px     !default;

.pp-heading {
	&--bullet {
		border-left: $pipe-heading-bullet-border-left solid $pipe-color-primary;
		color: $pipe-heading-color;
		padding-left: $pipe-heading-bullet-padding-left;
	}

	&--border {
		border-bottom: $pipe-heading-border-border-bottom solid $pipe-color-primary;
		color: $pipe-heading-color;
		padding-bottom: $pipe-heading-border-padding-bottom;
	}
}
