$pipe-heading-color: inherit !default;

.pp-heading {
	&--bullet {
		border-left: 10px solid $pipe-color-primary;
		color: $pipe-heading-color;
		padding-left: 10px;
	}

	&--border {
		border-bottom: 2px solid $pipe-color-primary;
		color: $pipe-heading-color;
		padding-bottom: 5px;
	}
}
