$pipe-hidden-breakpoint-max-mobile : $pipe-breakpoint-max-mobile !default;
$pipe-hidden-breakpoint-min-mobile : $pipe-breakpoint-min-mobile !default;

.pp-hidden {
	display: none;

	@media #{$pipe-hidden-breakpoint-max-mobile} {
		&--mobile {
			display: none;
		}
	}

	@media #{$pipe-hidden-breakpoint-min-mobile} {
		&--tablet,
		&--desktop {
			display: none;
		}
	}
}
