.pp-hidden {
	display: none;

	@media #{$pipe-breakpoint-max-mobile} {
		&--mobile {
			display: none;
		}
	}

	@media #{$pipe-breakpoint-min-mobile} {
		&--tablet,
		&--desktop {
			display: none;
		}
	}
}
