%pipe-input-default {
	appearance: none;
	-webkit-appearance: none;
	border-radius: $pipe-border-radius;
	border: 1px solid #ccc;
	padding: 8px;

	&:focus {
		@include focusFormBorder;
	}

	&:not(:focus):not(:placeholder-shown):invalid {
		@include invalidFormBorder;
	}
}

.pp-input {
	@extend %pipe-input-default;

	&--max {
		@extend %pipe-input-default;
		width: 100%;
	}

	&--error {
		@include invalidFormBorder;
	}
}

label > .pp-input {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
