$pipe-input-default-border-size  : 1px    !default;
$pipe-input-default-border-style : solid  !default;
$pipe-input-default-border-color : #ccc !default;
$pipe-input-default-padding      : 8px    !default;

%pipe-input-default {
	appearance: none;
	-webkit-appearance: none;
	border-radius: $pipe-border-radius;
	border: $pipe-input-default-border-size $pipe-input-default-border-style $pipe-input-default-border-color;
	padding: $pipe-input-default-padding;

	&:focus {
		@include pipe-focusFormBorder;
	}

	&:not(:focus):not(:placeholder-shown):invalid {
		@include pipe-invalidFormBorder;
	}
}

.pp-input {
	@extend %pipe-input-default;

	&--max {
		@extend %pipe-input-default;
		width: 100%;
	}

	&--error {
		@include pipe-invalidFormBorder;
	}
}

label > .pp-input {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
