%pipe-inputbox-button-default {
	@include pipe-resetButton;
	border: 1px solid #ccc;
	border-left: 0;
	font-family: inherit;
	padding: 3px 6px;
}

@mixin pipe-inputbox-button-style(
	$background-color,
	$background-color-hover,
	$background-color-active,
	$text-color
) {
	background-color: $background-color;
	color: $text-color;

	&:focus, &:hover {
		background-color: $background-color-hover;
	}

	&:active {
		background-color: $background-color-active;
	}
}

.pp-inputbox {
	display: flex;


	&__input {
		        appearance: none;
		-webkit-appearance: none;
		border: none;
		border: 1px solid #ccc;
		border-right: 0;
		padding: 3px;

		&:focus, &:active {
			outline: 0;
		}

		&--max {
			flex-grow: 1;
		}
	}

	&__button {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-lighter-gray,
				$pipe-color-light-gray,
				$pipe-color-gray,
				$pipe-color-black
			);

		&--primary {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-primary,
				$pipe-color-primary-hover,
				$pipe-color-primary-active,
				$pipe-color-primary-text-inverse
			);
		}

		&--secondary {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-secondary,
				$pipe-color-secondary-hover,
				$pipe-color-secondary-active,
				$pipe-color-secondary-text-inverse
			);
		}

		&--info {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-info,
				$pipe-color-info-hover,
				$pipe-color-info-active,
				$pipe-color-info-text-inverse
			);
		}

		&--success {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-success,
				$pipe-color-success-hover,
				$pipe-color-success-active,
				$pipe-color-success-text-inverse
			);
		}

		&--warning {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-warning,
				$pipe-color-warning-hover,
				$pipe-color-warning-active,
				$pipe-color-warning-text-inverse
			);
		}

		&--danger {
			@extend %pipe-inputbox-button-default;
			@include pipe-inputbox-button-style(
				$pipe-color-danger,
				$pipe-color-danger-hover,
				$pipe-color-danger-active,
				$pipe-color-danger-text-inverse
			);
		}
	}
}

.pp-inputbox--round {
	.pp-inputbox {
		&__input {
			border-top-left-radius: $pipe-border-radius;
			border-bottom-left-radius: $pipe-border-radius;
		}

		&__button {
			border-top-right-radius: $pipe-border-radius;
			border-bottom-right-radius: $pipe-border-radius;
		}
	}
}
