$pipe-notification-border-radius  : $pipe-border-radius !default;
$pipe-notification-padding-top    : 1rem                !default;
$pipe-notification-padding-right  : 1rem                !default;
$pipe-notification-padding-bottom : 1rem                !default;
$pipe-notification-padding-left   : 1rem                !default;

%pipe-notification-default {
	border-radius: $pipe-notification-border-radius;
	padding: $pipe-notification-padding-top $pipe-notification-padding-right $pipe-notification-padding-bottom $pipe-notification-padding-left;
}

.pp-notification {
	&--primary {
		@extend %pipe-notification-default;
		background-color: $pipe-color-primary;
		color: $pipe-color-primary-text-inverse;
	}

	&--secondary {
		@extend %pipe-notification-default;
		background-color: $pipe-color-secondary;
		color: $pipe-color-secondary-text-inverse;
	}

	&--info {
		@extend %pipe-notification-default;
		background-color: $pipe-color-info;
		color: $pipe-color-info-text-inverse;
	}

	&--success {
		@extend %pipe-notification-default;
		background-color: $pipe-color-success;
		color: $pipe-color-success-text-inverse;
	}

	&--warning {
		@extend %pipe-notification-default;
		background-color: $pipe-color-warning;
		color: $pipe-color-warning-text-inverse;
	}

	&--danger, &--error {
		@extend %pipe-notification-default;
		background-color: $pipe-color-danger;
		color: $pipe-color-danger-text-inverse;
	}

	&__link {
		position: relative;

		> a {
			color: inherit !important;
			text-decoration: none;

			&:after {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
