$pipe-tab-menu-border-default          : 1px solid $pipe-color-gray       !default;
$pipe-tab-menu-border-hover            : 1px solid $pipe-color-primary    !default;
$pipe-tab-menu-visited-link-color      : $pipe-color-primary              !default;
$pipe-tab-menu-active-background-color : $pipe-color-primary              !default;
$pipe-tab-menu-active-border-color     : $pipe-color-primary              !default;
$pipe-tab-menu-active-color            : $pipe-color-primary-text-inverse !default;
$pipe-tab-menu-active-visited-color    : $pipe-color-primary-text-inverse !default;

$pipe-tab-border-border-bottom-size         : 1px                 !default;
$pipe-tab-border-border-bottom-color        : #aaa              !default;
$pipe-tab-border-border-bottom-color-active : $pipe-color-primary !default;
$pipe-tab-border-menu-item-color            : $pipe-color-black   !default;
$pipe-tab-border-menu-item-color-active     : $pipe-color-primary !default;
$pipe-tab-border-menu-item-padding          : 0.5rem              !default;

.pp-tab {
	&__menu {
		display: flex;

		> li {
			flex-grow: 1;
			border: $pipe-tab-menu-border-default;
			border-right: 0;

			&:hover:not([class]) {
				border: $pipe-tab-menu-border-hover;

				& + * {
					border-left: 0;
				}

				& + [class] {
					border-left: 0 !important;
				}
			}

			&:first-child:not(:hover) {
				border-left: $pipe-tab-menu-border-default;
			}

			&:last-child:not(:hover) {
				border-right: $pipe-tab-menu-border-default;
			}

			&:first-child:hover {
				border-left: $pipe-tab-menu-border-hover;
			}

			&:last-child:hover {
				border-right: $pipe-tab-menu-border-hover;
			}

			> a {
				color: $pipe-tab-menu-visited-link-color;
				display: block;
				padding: 0.5rem;
				text-decoration: none;

				&:visited {
					color: $pipe-tab-menu-visited-link-color;
				}
			}
		}

		&__active {
			background-color: $pipe-tab-menu-active-background-color;
			border: 1px solid $pipe-tab-menu-active-border-color !important;

			> a {
				color: $pipe-tab-menu-active-color !important;
				pointer-events: none;

				&:visited {
					color: $pipe-tab-menu-active-visited-color !important;
				}
			}
		}
	}

	&__contents {
		> div {
			display: none;
		}
	}

	&__menu + &__contents {
		margin-top: 1.25rem;
	}
}

.pp-tab-border {
	&__menu {
		border-bottom: $pipe-tab-border-border-bottom-size solid $pipe-tab-border-border-bottom-color;
		position: relative;

		> ul {
			display: flex;
			position: relative;
			top: $pipe-tab-border-border-bottom-size;

			> li {
				a {
					border-bottom: $pipe-tab-border-border-bottom-size solid $pipe-tab-border-border-bottom-color;
					color: $pipe-tab-border-menu-item-color;
					display: block;
					padding: $pipe-tab-border-menu-item-padding;
					text-decoration: none;

					&:hover {
						border-bottom: $pipe-tab-border-border-bottom-size solid $pipe-tab-border-border-bottom-color-active;
					}
				}
			}
		}

		&__active > a {
			border-bottom: $pipe-tab-border-border-bottom-size solid $pipe-tab-border-border-bottom-color-active !important;
			color: $pipe-tab-border-menu-item-color-active !important;
			pointer-events: none;
		}
	}

	&__contents {
		> div {
			display: none;
		}
	}

	&__menu + &__contents {
		margin-top: 1.25rem;
	}
}
