.pp-text {
	&--center {
		text-align: center;
	}

	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}

	&--large {
		font-size: large;
	}

	&--small {
		font-size: small;
	}

	&--primary {
		color: $pipe-color-primary;
	}

	&--secondary {
		color: $pipe-color-secondary;
	}

	&--info {
		color: $pipe-color-info;
	}

	&--success {
		color: $pipe-color-success;
	}

	&--warning {
		color: $pipe-color-warning;
	}

	&--danger, &--error {
		color: $pipe-color-danger;
	}
}
