$pipe-transform-breakpoint-max-mobile     : $pipe-breakpoint-max-mobile      !default;
$pipe-transform-breakpoint-min-mobile     : $pipe-breakpoint-min-mobile      !default;
$pipe-transform-table-th-background-color : $pipe-color-primary              !default;
$pipe-transform-table-th-color            : $pipe-color-primary-text-inverse !default;
$pipe-transform-table-cell-padding        : 0.5rem                           !default;

.pp-transform-table {
	@media #{$pipe-transform-breakpoint-max-mobile} {
		> div {
			> div {
				&:first-child {
					background-color: $pipe-transform-table-th-background-color;
					color: $pipe-transform-table-th-color;
					padding: $pipe-transform-table-cell-padding;
				}

				&:last-child {
					padding: $pipe-transform-table-cell-padding;
				}
			}
		}
	}

	@media #{$pipe-transform-breakpoint-min-mobile} {
		display: table;
		width: 100%;

		> div {
			display: table-row;

			> div {
				display: table-cell;

				&:first-child {
					background-color: $pipe-transform-table-th-background-color;
					color: $pipe-transform-table-th-color;
					padding: $pipe-transform-table-cell-padding;
					width: 30%;
				}

				&:last-child {
					padding: $pipe-transform-table-cell-padding;
					width: 70%;
				}
			}
		}
	}
}
