@mixin resetButton {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-family : inherit;
	font-size: 100%;
	padding: 0;
	outline: none;
	text-decoration: none;
}

@mixin focusFormBorder {
	border: 1px solid $color-primary-input-border;
	box-shadow: 0 0 0 .2em $color-primary-input-border;
	outline: 0;
}

@mixin invalidFormBorder {
	border-color: $color-danger;
	box-shadow: 0 0 0 .2em $color-danger;
	outline: 0;
}

@mixin overlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
