@mixin pipe-resetButton {
			appearance: none;
	-webkit-appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-family : inherit;
	font-size: 100%;
	padding: 0;
	outline: none;
	text-decoration: none;
}

@mixin pipe-focusFormBorder {
	border: 1px solid $pipe-mixin-focus-form-border-border-color;
	box-shadow: 0 0 0 .1em $pipe-mixin-focus-form-border-box-shadow;
	outline: 0;
}

@mixin pipe-invalidFormBorder {
	border-color: $pipe-mixin-invalid-form-border-border-color;
	box-shadow: $pipe-mixin-invalid-form-border-box-shadow;
	outline: 0;
}

@mixin pipe-overlay {
	background: $pipe-mixin-overlay-background;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin pipe-accordion {
	max-height: 0;
	overflow: hidden;
	transition: max-height $pipe-mixin-accordion-transition-duration $pipe-mixin-accordion-transition-timing-function;
}
