*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Hiragino Sans", -apple-system, BlinkMacSystemFont, "Meiryo", system-ui, sans-serif;
	scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, select, dl, dt, dd, input, button {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

ul, ol {
	list-style: none;
}
