// breakpoints
$breakpoint-mobile: 560px !default;
$breakpoint-tablet: 960px !default;
$breakpoint-max-mobile: "screen and (max-width: #{$breakpoint-mobile - 1})" !default;
$breakpoint-min-mobile: "screen and (min-width: #{$breakpoint-mobile})" !default;

// colors
$color-white: #fff !default;
$color-lighter-gray: #eee !default;
$color-light-gray: #ddd !default;
$color-gray: #ccc !default;
$color-dark-gray: #bbb !default;
$color-darker-gray: #aaa !default;
$color-black: #333 !default;

$color-primary: #dc143c !default;
$color-primary-hover: darken($color-primary, 5%) !default;
$color-primary-active: darken($color-primary, 10%) !default;
$color-primary-input-border: lighten($color-primary, 30%) !default;
$color-primary-text: darken($color-primary, 5%) !default;
$color-primary-text-inverse: $color-white !default;

$color-info: #3298dc !default;
$color-info-hover: darken($color-info, 5%) !default;
$color-info-active: darken($color-info, 10%) !default;
$color-info-text-inverse: $color-white !default;

$color-success: #48c774 !default;
$color-success-hover: darken($color-success, 5%) !default;
$color-success-active: darken($color-success, 10%) !default;
$color-success-text-inverse: $color-white !default;

$color-warning: #ffdd57 !default;
$color-warning-hover: darken($color-warning, 5%) !default;
$color-warning-active: darken($color-warning, 10%) !default;
$color-warning-text-inverse: $color-black !default;

$color-danger: #f14668 !default;
$color-danger-hover: darken($color-danger, 5%) !default;
$color-danger-active: darken($color-danger, 10%) !default;
$color-danger-text-inverse: $color-white !default;

$color-link: $color-primary !default;
$color-link-visited: $color-primary !default;
$color-link-hover: $color-primary !default;
$color-link-active: $color-primary !default;

// Others
$border-radius: 4px !default;
